/* Global settings*/
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
body {
    font-family:'Poppins',sans-serif;
    background-color:#1F252E;
}
.flex-container {
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:0  auto;
    width:1200px;
    height:100px;
}
.menu-container {
    background-color:#1F252E ;
    color:#fff;
    position:fixed;
    top:0;
    left:0;
    width:100%;
 
}
nav {
    transition: transform 0.3s ease;
}
.hidden {
    transform: translateY(-100%);
  }
 a {
    color:white;
    text-decoration: none;
    margin: 0px 20px;
    font-size:24px;
    position:relative;


}


a:hover {
    color:#00E8F8;
    background-color:#00E8F8;
    box-shadow: 0 0 20px #00E8F8;
    transition:all .3s ease-in-out;
    background-color:white;
    cursor:pointer;
    border-radius:5px;
}

.section {
    margin-top: 220px;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:100px;
    
}
h1 {
    color:white;
}
p {
    color:white;
}

.informative-paragraph {
    font-size:22px;
    padding:20px;
}
.photo  img{
    width:400px;
   height:300px;
   border-radius:25px;

}
i {
    color:white;
    z-index:1;
}
/* icons */
.social {
    display:flex;
    flex-wrap:wrap;
    gap:1.4rem;
    margin-top:1.7rem;
}
.social a {
    color:#00E8F8;
    font-size:1rem;
    border:1.6px solid #00E8F8;
    border-radius:50%;
    padding: .35rem;
    text-align:center;
    width:35px;
    

}
.social a:hover{
    color:#1F252E;
    background-color:#00E8F8;
    box-shadow: 0 0 20px #00E8F8;
    transition:all .3s ease-in-out;
    background-color:white;
    cursor:pointer;
    transition:0.4s all;
}
/*burger menu*/

/* section about */
.about {
    margin-top:100px;
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 12rem;
}
.photoone img {
    width:300px;
    height:250px;
    border-radius:25px;
    
}
a {
    color:white;
}
.social1 a:hover{
    color:#1F252E;
    background-color:#00E8F8;
    box-shadow: 0 0 20px #00E8F8;
    transition:all .3s ease-in-out;
    background-color:white;
    cursor:pointer;
}
/* sectoion about my skills */
.skills-container {
    margin-top:100px;
    margin-bottom:50px;
}
.heading {
    text-align:center;
    font-size:22px;
    
}
.icons img {
    width:50px;
    height:50px;
}
.skills-div {
    font-size:22px;
    padding-top:20px;
 
}
progress {
    width:800px;
    height:20px;
    background-color: #00E8F8;
    border: 1px solid #ccc; 
    border-radius:10px;
}
progress::-webkit-progress-value {
    background-color: #00E8F8;
    border-radius:10px;
}
progress::-moz-progress-bar {
    background-color: #00E8F8; 
  }


.languages-skills {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}


footer {
    background-color:black;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:40px;
  
}
.footer-content {
    text-align:center; 
   
}
input {
    background-color: #1F252E;
    height:60px;
    width:300px;
    margin:8px;
    border: 1px solid white;
    padding:10px;
    color:white;
  
}
textarea {
    background-color: #1F252E;
    width:630px;
    border: 1px solid white;
    padding:10px;
    margin:8px;
    color:white;
}
input:hover{
    border: 1px solid #00E8F8;
}
textarea:hover {
    border: 1px solid #00E8F8;
}
.send  {
    background-color: #00E8F8;
    height:40px;
    width:100px;
    border-radius:5px;
    border:none;
    color:#1F252E;
    box-shadow: 0 0 20px #00E8F8;
    color:white;

}
.send:hover {
    background-color: #00E8F8;
    height:40px;
    width:100px;
    border-radius:5px;
    border:none;
    color:#1F252E;
    box-shadow: 0 0 20px #00E8F8;
    transition:all .3s ease-in-out;
    background-color:white;
    cursor:pointer;
    color:#00E8F8;

}